/* EL ROOT COMO EJEMPLO */

:root {
    /*tipografia*/
  --parrafos:  'Open Sans', sans-serif ;;
  --Heading: font-family: 'PT Sans', sans-serif ;;

  /*colores*/
  --principal:#784d3c;
  --blanco: #ffffff;
  --negro:#000000;
  --gris: #1e1e1e;

}

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  
body{
    font-size: 1.6rem;
    font-family:  var(--parrafos);
    

    
}

   /* Globales */

h1, h2{
text-align: center;
color: var(--blanco);
font-family:  'PT Sans', sans-serif ;;

}

 
h1{
    font-size: 4.8rem;
}   

h2{
    font-size: 4rem;
    
}

h3{
    font-size: 3.2rem;
    color: black;
    font-family:  'PT Sans', sans-serif ;;
}

h4{
    font-size: 2.8rem;
    color: black;
    font-family:  'PT Sans', sans-serif ;;
}

p{
    font-size: 1.8rem;
    
    font-family: var(--parrafos);
}

a{
    text-decoration: none;
    color: var(--blanco);
}

img{
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    

}

/*utilidades*/
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/*header*/

.header{
    
    background-image: url(../img/image.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
  
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
  
    
}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}


.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);

}


.barra{
    padding: 4rem;
}

/*medias*/
@media (min-width:768px){
.header__texto{
margin-top: 15rem;
}
}

@media (min-width:768px){
    .navegacion{
        display: flex;
        gap: 2rem;
        
    }
}

@media (min-width:768px){
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}


@media (min-width: 768px){
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.boton{
    display: block;
    
    

    
}
.boton{
    cursor: pointer;
}

.boton__primario{
    background-color:black ;
    font-family: var(--Heading);
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 3rem;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}

.boton__secundario{
    background-color: var(--principal
    );
}
@media (min-width: 768px){
    .boton{
        display: inline-block;
        
    }
}
.entrada-contenido{
    border-bottom: 0.2rem solid var(--gris);
    margin-bottom: 2rem;
}

.cursos{
    list-style: none;
}
.widget-curso__label{
    font-family: var(--Heading);
    font-weight: bold;
}
.widget-curso_info{
    
    font-weight: 400;
}
.footer{
  background-color: black;
  padding:3rem;
  margin-top: 4rem;
 gap: 2rem;
}

@media (min-width: 768px){
.sobre-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;

 }

}

.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
.curso:last-of-type{
    border: none;
}

@media (min-width: 768px){
    .curso{
        display: grid;
        grid-template-columns:1fr 2fr ;
        column-gap: 2rem;
    }
}

.contacto-bg{
    background-image: url(../img/contacto-bg1.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.formulario{
margin: -5rem auto 0 auto ;
width: 95%;
background-color: var(--blanco);
padding: 5rem;
}

.campo{
display: flex;
margin-bottom: 2.2rem;
font-family:   'PT Sans', sans-serif ;;

}

.campo__label{
flex: 0 0 9rem;


}

.campo__field{
flex: 1;
border: 1px solid var(--gris);
width:100%;
}

.campo__field--textarea{
max-height: 20rem;
}
.submit{
    
    color: var(--blanco);
}
.error {
    background-color: rgb(233, 28, 28);
    color: white;
    text-align: center;
    padding:1rem;
    text-transform: uppercase;
}

.enviado{
    background-color: rgb(43, 223, 73);
    color: white;
    text-align: center;
    padding:1rem;
    text-transform: uppercase;
}